html, body {
    background-color: rgb(70, 51, 63);
    margin: 0;
    
}

.title {
    font-family: Lobster, cursive;
    color: rgb(235, 231, 226);
    font-size: 40px;
    text-align: center;
    
}


.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.image-band {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: -4px;
    
    
    
}
.grid {
    background-color: aliceblue;
    margin-left: 30%;
    margin-right: 30%;
    width: 800px;
    height: 200px;
    border-bottom-color: black;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    

}

.text2 {
color: rgb(97, 77, 107);
font-size: 30px;
text-align: left;
padding-top: 20px;
padding-left: 10px;
padding-right: 10px;

}

.h2{
 color: rgb(97, 77, 107);
font-size: 20px;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
font-style: bold;
padding: 10px;
float: left;
padding-right: 2px;
}

.h3 {   
    color: rgb(199, 164, 216);
    font-size: 20px;
    font-style: normal;
    font-family: Arial Narrow;
    float: left;
    padding-left: 1px;
    padding: 10px;

}




.p1{

    font-family: sans-serif;
    padding-left: 0px;
    text-align: left;
    padding-top: 20px;    
    padding-bottom: 1px;      


}

.div2 {

    color: rgb(97, 77, 107);
    font-size: 30px;
     padding-left: 10px;
     width: 80%;
     font-family: sans-serif;
     margin-bottom: -3pc;
     padding-top: 20px;
    

     
    
    
}
.grid2 {
    background-color: aliceblue;
    margin-left: 30%;
    margin-right: 30%;
    width: 800px;
    height: 97px;
    
}

.divplus {

    background-color: rgb(179, 83, 155);
    color: white;
    width: 15%;    
    text-align: center;
    font-size: 5pc;
    float: right;
       
   }

   .textbox1{
       background-color:rgb(179, 83, 155);
       margin-left: 30%;
    margin-right: 30%;
    width: 800px;
    height: 200px;

   }

   .month1{
       text-align: center;
       font-size: 30px;
       padding-top: 40px;
       padding-bottom: 10px;
       width: 30%;
       color: rgb(60, 45, 75);

   }

   .date1 {
    text-align: center;
    font-size: 40px;
    padding: 0px 0px;
    width: 30%;
    color: rgb(248, 245, 250);
    margin-bottom: -50px;


   }
   .detail1 {
    text-align: left;
    color: rgb(248, 245, 250);
    width: 70%;
    float: right;
    padding-right: 20px;
    height: 100px;
    padding-bottom: 1px;
    font-size: 20px;

     
   }

   .textbox2{
    background-color:rgb(185, 151, 177);
    margin-left: 30%;
 margin-right: 30%;
 width: 800px;
 height: 200px;

}
 .detail2{
       text-align: left;
        font-size: 20px;
        color: rgb(248, 245, 250);
        width: 70%;
        float: right;
        padding-right: 20px;
        height: 50px;
        padding-bottom: 40px;

        
 }

 .textbox3{
    background-color:rgb(179, 83, 155);
    margin-left: 30%;
 margin-right: 30%;
 width: 800px;
 height: 200px;

}
 .detail3{
       text-align: left;
        font-size: 20px;
        color: rgb(248, 245, 250);
        width: 70%;
        float: right;
        padding-right: 20px;
        height: 50px;
        padding-bottom: 20px;
 }

 .textbox4{
    background-color:rgb(73, 57, 69);
    margin-left: 30%;
 margin-right: 30%;
 width: 800px;
 height: 200px;
 margin-bottom: 40px;
 }

 .footer1{
color: aliceblue;
font-size: 20px;
text-align: center;
padding-top: 20px;


 }

 .footer2{

color: aliceblue;
font-size: 15px;
text-align: center;
padding-top: 5px;


 }

 .footer3 {

color: aliceblue;
font-size: 15px;
text-align: center;
padding-top: 5px;

 }

.footer4 {
 color: aliceblue;
 font-size: 20px;
 text-align: center;
 padding-top: 25px;
 
 

}